# Byte-compiled
__pycache__/
# C extensions
*.so
# Swap/backup files
*.swp
*.bak
.codex
# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.egg
# Environments
.env
.venv
env/
venv/
ENV/
# mypy
.mypy_cache/
.dmypy.json
dmypy.json
# Pyre
.pyre/
# IDEs / Editors
.idea/
.vscode/
.qtcreator/
# Temporary files
tmp/
#todo
todo.md
TODO.md
todo/
TODO/