# Ignore everything by default
*
*

# Keep this .gitignore file
!.gitignore

# Allow the WebPage directory and its contents
!/WebPage/
!/WebPage/**

# Allow the logo directory and its contents
!/logo/
!/logo/**
