# Ignore everything by default
*
*

# Keep this .gitignore file
!.gitignore
# Keep license
!LICENSE
# Keep index.html for GitHub Pages
!index.html

# Allow the WebPage directory and its contents
!/WebPage/
!/WebPage/**

# Allow the logo directory and its contents
!/logo/
!/logo/**
